pip==23.2.1
attrs==23.1.0
wheel==0.41.2
idna==3.4
multidict==6.0.4
setuptools==68.2.2
aiogram==3.1.1
pydantic==2.3.0
aiofiles==23.1.0
certifi==2023.7.22
aiohttp==3.8.6
yarl==1.9.2
aiosignal==1.3.1
frozenlist==1.4.0